<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="root">
      <nav>
        <div class="nav__title">
          <img
            class="churchImg"
            src="https://yt3.googleusercontent.com/ytc/AIdro_n7nWhPVFB6h7pPd9sbSP65HR79ruSTcZv-XooT2mI--Gc=s160-c-k-c0x00ffffff-no-rj"
            alt="Metsamor Img"
          />
          <h1>Մեծամորի Եկեղեցի</h1>
        </div>
        <ul class="nav__ul">
          <li class="nav__li"><a class="nav__a" href="">Մեր մասին</a></li>
          <li class="nav__li"><a class="nav__a" href="">Հոգևոր ֆիլմեր</a></li>
          <li class="nav__li"><a class="nav__a" href="">Հոգևոր երգեր</a></li>
        </ul>
      </nav>
      <header>
        <form class="header__form" action="">
          <input
            class="textInput"
            type="text"
            name="text"
            placeholder="Տրված հարցեր"
          />
          <button class="send__btn" type="submit">Ուղարկել</button>
        </form>
      </header>
      <div class="wordDay">
        <p>
          {{ statement[-1].text }}
        </p>
      </div>
      <main>
        <div class="main__slider">
          <div class="sliderLeft"></div>
          <div class="sliderRight"></div>
          <div class="slider__div">
            <img
              class="slider__img"
              src="{{ url_for('static', filename='img/img1.jpg') }}"
              alt="img1"
            />
            <img
              class="slider__img"
              src="{{ url_for('static', filename='img/img2.jpg') }}"
              alt="img2"
            />
            <img
              class="slider__img"
              src="{{ url_for('static', filename='img/img3.jpg') }}"
              alt="img3"
            />
          </div>
        </div>

        <section class="interTopic">
          <div class="main__topic">
            <a class="topic__a" href="">Աստվածաշնչյան հարցեր ու պատասխաններ</a>
          </div>

          <div class="main__topic">
            <a class="topic__a" href="">Խաղաղություն և երջանկություն</a>
          </div>

          <div class="main__topic">
            <a class="topic__a" href="">Հավատ առ Աստված</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Ամուսնություն և ընտանիք</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Պատանիներ և երիտասարդներ</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Երեխաների համար</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Գիտություն և Աստվածաշունչ</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Գիտություն և Աստվածաշունչ</a>
          </div>
          <div class="main__topic">
            <a class="topic__a" href="">Հաճախ տրվող հարցեր</a>
          </div>
        </section>

<div class="HolyBible">
<button class="bible__btn">Կարդալ Աստվածաշնչյանը օնլայն</button>
</div>


<section class="pargevner__sec">
<h2 style="margin-left: 20px;">Սուրբ Հոգու պարգևներ</h2>
<hr>

<div class="seeMore__div">
  <a class="seeMore" href="">Տեսնել ավելին</a>
</div>

<div class="pargevner__div">
  <div class="pargevner">
<a class="pargevner__a" href=""><img class="pargevner__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbfeg1VQksd95ELvEmQBeA_b0n4qgd2rLOMQ&s" alt=""></a>
<a class="prgevner__link" href="">Սուրբ Հոգու մկրտության պարգև</a>
</div >

<div  class="pargevner">
<a class="pargevner__a" href=""><img class="pargevner__img" src="https://www.churchofjesuschrist.org/imgs/6f605cb7007e82aee64fd20516f66abdf9e16d9a/full/1280%2C/0/default" alt=""></a>
<a class="prgevner__link" href="">Ձեռնադրության պարգև</a>
</div>

<div  class="pargevner">
<a class="pargevner__a" href=""><img class="pargevner__img" src="https://media.licdn.com/dms/image/C4E12AQEdZOVBsu5lPg/article-cover_image-shrink_600_2000/0/1520114192258?e=2147483647&v=beta&t=eaBwCdil7hUfWQmKYMjefNGNqAHolq6u4PyWkeJ5J7s" alt=""></a>
<a class="prgevner__link" href="">Գիտության պարգև</a>
</div>
</div>


</section>


<section class="sermon__sec">

  <h2 style="margin-left: 20px;">Հեգևոր քարոզներ</h2>
  <hr>

  <div class="seeMore__div">
    <a class="seeMore" href="">Տեսնել ավելին</a>
  </div>


<div class="sermon__div">

<div class="sermon">
<a href=""><iframe width="270" height="150" src="https://www.youtube.com/embed/lYICSI48hOY" title="Դերեկ Պրինս 3. Հավատք` ապաշխարության միջոցով" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>
<a class="sermon__link" href=""><span class="sermon__span">ԴԵՐԵԿ ՊՐԻՆՍ</span> - ՀԱՎԱՏՔ ԱՊԱՇԽԱՐՈՒԹՅԱՆ ՄԻՋՈՑՈՎ</a>
</div>

<div class="sermon">
<a href=""><iframe width="270" height="150" src="https://www.youtube.com/embed/K3FjqXqWSuU" title="Դերեկ Պրինս -3- &#39;&#39;Զորության և հայտնության պարգևներ&#39;&#39; ԳՈՐԾԱԾԵԼՈՎ ՀՈԳԵՎՈՐ ՊԱՐԳԵՎՆԵՐԸ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>
<a class="sermon__link" href=""><span class="sermon__span">Դերեկ Պրինս</span> - ''Զորության և հայտնության պարգևներ'' ԳՈՐԾԱԾԵԼՈՎ ՀՈԳԵՎՈՐ ՊԱՐԳԵՎՆԵՐԸ</a>
</div>

<div class="sermon">
  <a href=""><iframe width="270" height="150" src="https://www.youtube.com/embed/stdLKJ3QYEM" title="-Սուրբ Հոգի  դաս -1-Ջոն Բիվեր" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>
  <a class="sermon__link" href=""><span class="sermon__span"> Ջոն Բիվեր</span> - Սուրբ Հոգի</a>
</div>


</div>


</section>




</main>


<footer>


  <div class="footer__left">
    <div class="footer__title">
   <img
            class="churchImg"
            src="https://yt3.googleusercontent.com/ytc/AIdro_n7nWhPVFB6h7pPd9sbSP65HR79ruSTcZv-XooT2mI--Gc=s160-c-k-c0x00ffffff-no-rj"
            alt="Metsamor Img"
          />
    <h2 class="footer__h2">Մեծամորի Եկեղեցի</h2>
  </div>

  <div class="footer__links">
<img class="links__icons" src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yD/r/5D8s-GsHJlJ.png" alt="">
<img class="links__icons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png" alt="">
<img class="links__icons" src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="">
  </div>
  </div>



  <div class="footer__right">


<address>
  <h3 class="address__h3">Հասցե</h3>
  <p class="address">Արմավիր, Ք․Մեծամոր, 2 թաղամաս 3 խճուղղի</p>
</address>


  </div>


</footer>
    </div>
  </body>
</html>
