* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root{
  width: 100%;
  height: 100vh;
background: #232526;  
background: -webkit-linear-gradient(to right, #414345, #232526); 
background: linear-gradient(to right, #414345, #232526); 

}

.churchImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: table-cell;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  gap: 15px;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 10px 1px black;

}
.nav__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
h1 {
  /* color: white; */
  color: #000000;
}

.nav__ul {
  display: flex;
  gap: 15px;

  list-style-type: none;
}
.nav__a {
  text-decoration: none;
padding: 8px;
  color: #000000; 
}

.nav__a:hover {
  background-color: #948b8b;
border-radius: 20px;
  color:white; 
}
