* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root{
  width: 100%;
  height: fit-content;
background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000); 

padding-bottom: 20px;

}

.churchImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: table-cell;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  gap: 15px;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 10px 1px black;

}
.nav__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
h1 {
  color: #000000;
}

.nav__ul {
  display: flex;
  gap: 15px;

  list-style-type: none;
}
.nav__a {
  text-decoration: none;
padding: 8px;

  color: #000000; 
}

.nav__a:hover {
  background-color: #948b8b;
border-radius: 20px;
  color:white; 
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
 form{
  display: flex;
  width: 60%;
  gap: 20px;
}

.searchMoves{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 20px;
  border: none;
}

.searchBtn{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 1.5px;
}
.searchBtn:hover{
color: white;
  background-color: rgba(75, 75, 235, 0.548);
}

.moves__div{
  color: white;
  margin: 10px;
}
.moves{
width: 90%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 0 auto;
gap: 30px;
}
 .move{
  display: flex;
  flex-direction: column;
 width: 250px;
 height: 350px;
 }

.moveTitle{
  height: 16%;
  padding: 5px;

}
.move__a{
  text-decoration: none;
  color: white;
}
.move__a:hover{
  text-decoration: 1px solid underline white;
}
.moveImg{
  width: 250px;
  height: 300px;

}

