/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root{
  width: 100%;
  height: fit-content;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1716595200&semt=sph");
  background-repeat: no-repeat;
  background-size: cover;
}

.churchImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: table-cell;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  gap: 15px;
  /* background-color: rgb(166, 164, 164); */
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 10px 1px black;

}
.nav__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
h1 {
  /* color: white; */
  color: #000000;
}

.nav__ul {
  display: flex;
  gap: 15px;

  list-style-type: none;
}
.nav__a {
  text-decoration: none;
  /* color: white; */
  color: #000000; 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("https://scontent-sin6-4.xx.fbcdn.net/v/t1.6435-9/67355713_2459963754049613_6610401641495527424_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_ohc=3-286V8qhOgQ7kNvgHTh62W&_nc_ht=scontent-sin6-4.xx&oh=00_AYC2LhdEmjZhn22KzqkFpiXX35RzFRNc0BX-jOcqzv7aIA&oe=66CB0DD4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.textInput {
  width: 500px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 1px 1px 10px 2px rgb(0, 0, 0);
  border-radius: 20px;
}
.textInput::placeholder {
  padding: 5px 10px;
  color: black;
}

.send__btn {
  width: 100px;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 1px 1px 10px 2px rgb(62, 62, 62);
}
.send__btn:hover {
  background-color: rgba(75, 75, 235, 0.548);
  color: white;
}

.wordDay {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
  padding: 15px 0px;
  border: none;
  color: black;
  font-size: 20px;
  background-color: rgb(221, 220, 220);
  /* background: linear-gradient(
    90deg,
    rgba(139, 166, 207, 1) 8%,
    rgba(180, 176, 91, 1) 47%,
    rgba(180, 206, 232, 1) 98%
  ); */
}
.wordDay p {
  max-width: 80%;
  /* text-align: center; */
  color: black;
}

.wordDay span {
  display: inline-block;
}

.slider__img {
  display: block;
  width: 80vw;
  height: 100%;
  transition: 300ms linear;
}

.main__slider {
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}
.slider__div {
  width: max-content;
  display: flex;
  height: 320px;
}
.sliderLeft,
.sliderRight {
  width: 40px;
  height: 100%;
  background-color: rgba(198, 198, 198, 0.553);
  cursor: pointer;
  z-index: 1;
}
.sliderLeft {
  position: absolute;
  left: 0;
}
.sliderRight {
  position: absolute;
  right: 0;
}
.sliderLeft:hover,
.sliderRight:hover {
  background-color: rgba(167, 167, 167, 0.553);
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 76%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.693);
 
}

.main__topic:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/bibleImg.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/happy.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/belive.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/family.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/younger.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(6) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/exercise.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(7) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/science.jpg");
  background-size: cover;
  background-position: center;
}
.main__topic:nth-of-type(8) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/history.jpg");
  background-size: cover;
  background-position: center;
}

.main__topic:nth-of-type(9) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  width: 320px;
  height: 110px;
  background-image: url("../img/questions.jpg");
  background-size: cover;
  background-position: center;
}
.interTopic {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  /* gap: 30px; */
  row-gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.topic__a {
  display: inline-block;
  text-decoration: none;
  line-height: 25px;
  color: white;
  font-size: 17px;
}

.HolyBible{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
/* width: 80%; */
height: 250px;
background-image: url("https://avatars.mds.yandex.net/i?id=49fc135883ad3de4ce546aee7f5dbeed57264ec3-5315583-images-thumbs&n=13");
background-repeat: no-repeat;
background-size: cover;
animation: anim 1000ms linear;
animation-timeline: view;
animation-range-start: entry;
animation-range-end: exit;
}
.bible__btn{
  width: 200px;
padding: 5px;
color: white;
font-weight: 600;
  border-radius: 10px;
  border: none;
cursor: pointer;
background-color: #2c3e50de; 

}
@keyframes anim {
  0%{
    width: 20%;
  }
  100%{
width: 80%;
  }



}
.bible__btn:hover{
  transition: 200ms linear;
scale: 1.1;
}


.pargevner__img{
  width: 270px;
  height: 150px;
}

.pargevner__sec{
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  gap: 20px;
  margin-top: 30px;
}

.pargevner__div{
  display: flex;
justify-content: space-evenly;
}
.pargevner{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.seeMore__div{
  text-align: end;
  padding-right: 30px;
}
.seeMore{
  color: #7a7aeb;
  padding: 5px;
  text-decoration: none;
}
.seeMore:hover{
  background-color: rgba(122, 122, 235, 0.153);
}
.prgevner__link{
  text-decoration: none;
  font-size: 20px;
  max-width: 250px;
  color: #7a7aeb;
}
.prgevner__link:hover{
  text-decoration: 1.5px solid underline #7a7aeb;
  text-underline-offset: 3px;
}
.sermon__sec{
    display: flex;
  flex-direction: column;
  padding-inline: 10px;
  gap: 20px;
  margin-top: 30px;
}

.sermon__div{
   display: flex;
justify-content: space-evenly;
}

.sermon__link{
    text-decoration: none;
  font-size: 19px;
  max-width: 250px;
  color: #7a7aeb;

}
.sermon__link:hover{
    text-decoration: 1.5px solid underline #7a7aeb;
  text-underline-offset: 3px;
}


.sermon{
    display: flex;
  gap: 10px;
  flex-direction: column;
}
.sermon__span{
   color: #5959d1;
 font-weight: 600;
}

footer{
  width: 100%;
  height: 40vh;
  display: flex;
justify-content: space-between;
padding: 30px 40px;
background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000); 
background: linear-gradient(to right, #434343, #000000); 


}

.footer__title{
  display: flex;
  align-items: center;
  gap: 20px;
}


.footer__links{
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}


.links__icons{
  width: 27px;
  height: 27px;
}
.footer__h2{
  color: white;
  font-size: 26px;
}
address{
display: flex;
flex-direction: column;
gap: 20px;
}

.address__h3{
  color: white;
  font-size: 23px;
}
.address{
  color: white;
}
.footer__left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links__icons:nth-of-type(3){
width: 32px;
height: 35px;
object-fit: cover;
}