<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Հոգևոր ֆիլմեր</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies.css')}}">
    <script src="../static/js/moves.js" defer></script>
</head>
<body>
  
  <div class="root">
  <nav>
        <div class="nav__title">
          <a href="main/index.html"><img
            class="churchImg"
            src="https://yt3.googleusercontent.com/ytc/AIdro_n7nWhPVFB6h7pPd9sbSP65HR79ruSTcZv-XooT2mI--Gc=s160-c-k-c0x00ffffff-no-rj"
            alt="Metsamor Img"
          /></a>
          <h1>Մեծամորի Եկեղեցի</h1>
        </div>
        <ul class="nav__ul">
          <li class="nav__li"><a class="nav__a" href="">Մեր մասին</a></li>
          <li class="nav__li"><a class="nav__a" href="http://127.0.0.1:5500/app/templates/pages/moves.html">Հոգևոր ֆիլմեր</a></li>
          <li class="nav__li"><a class="nav__a" href="">Հոգևոր երգեր</a></li>
        </ul>
      </nav>
     
<header>

  <form action="">
    <input class="searchMoves" type="search" placeholder="Որոնել Ֆիլմը">
    <button class="searchBtn" type="submit">Որոնել</button>
  </form>
</header>


<main>
  <div class="moves__div">

  </div>
</main>


</div>


</body>
</html>